{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- Reservation Form Section -->
<section id="make-reservation" class="mt-5">

  <div class="container">
    <h2 class="text-center mb-4">{{ request.user }}'s Profile</h2>
    
    {% for reservation in reservations %}
    <div class="row {% cycle 'bg-secondary' 'bg-secondary bg-gradient bg-opacity-50' %}">
      <div class="col">
        <!-- column headers -->
        <div class="row mt-5">
          <!-- date -->
          <div class="col">
            Date:
            <i class="fa-solid fa-calendar-days"></i> {{ reservation.date }}
          </div>

          <!-- time -->
          <div class="col">
            Time: <i class="fa-solid fa-clock"></i> {{ reservation.time_slot }}
          </div>

          <!-- location -->
          <div class="col">
            Location: <i class="fa-solid fa-location-dot"></i> {{ reservation.location }}
          </div>

          <!-- status -->
          <div class="col">
            Status:
            {{ reservation.status }}
            {% if reservation.status == "Canceled" %}
              <i class="fa-solid fa-circle-xmark text-danger bg-dark p-1 rounded"></i>
            {% elif reservation.status == "Confirmed" %}
              <i class="fa-solid fa-circle-check text-success bg-dark p-1 rounded"></i>
            {% elif reservation.status == "Pending" %}
              <i class="fa-regular fa-hourglass-half text-warning bg-dark p-1 rounded"></i>
            {% else %}
              <i class="fa-solid fa-circle-info text-dark bg-light p-1 rounded"></i>
            {% endif %}
          </div>

          <!-- phone -->
          <div class="col">
            Phone: <i class="fa-solid fa-phone"></i> {{ reservation.phone_number }}
          </div>

        </div>

    {% empty %}
      <div class="row text-center">
        <div class="col">
          You do not have any reservations currently.
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}