{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- Reservation Form Section -->
<section id="make-reservation" class="mt-5">

  <div class="container">
    <h2 class="text-center mb-4">{{ request.user }}'s Profile</h2>
    
    {% for reservation in reservations %}
    <div class="row {% cycle 'bg-secondary' 'bg-secondary bg-gradient bg-opacity-50' %}">
      <div class="col">
        <!-- column headers -->
        <div class="row mt-5">
          <!-- date -->
          <div class="col">
            Date:
            <i class="fa-solid fa-calendar-days"></i> {{ reservation.date }}
          </div>

          <!-- time -->
          <div class="col">
            Time: <i class="fa-solid fa-clock"></i> {{ reservation.time_slot }}
          </div>

          <!-- location -->
          <div class="col">
            Location: <i class="fa-solid fa-location-dot"></i> {{ reservation.location }}
          </div>

    {% empty %}
      <div class="row text-center">
        <div class="col">
          You do not have any reservations currently.
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}