{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- Reservation Form Section -->
<section id="make-reservation" class="mt-5">

  <div class="container">
    <h2 class="text-center mb-4">{{ request.user }}'s Profile</h2>
    
    {% for reservation in reservations %}
    <div class="row {% cycle 'bg-secondary' 'bg-secondary bg-gradient bg-opacity-50' %}">
      <div class="col">
        <!-- column headers -->
        <div class="row mt-5">
          <!-- date -->
          <div class="col">
            Date:
            <i class="fa-solid fa-calendar-days"></i> {{ reservation.date }}
          </div>

          <!-- time -->
          <div class="col">
            Time: <i class="fa-solid fa-clock"></i> {{ reservation.time_slot }}
          </div>

          <!-- location -->
          <div class="col">
            Location: <i class="fa-solid fa-location-dot"></i> {{ reservation.location }}
          </div>

          <!-- status -->
          <div class="col">
            Status:
            {{ reservation.status }}
            {% if reservation.status == "Canceled" %}
              <i class="fa-solid fa-circle-xmark text-danger bg-dark p-1 rounded"></i>
            {% elif reservation.status == "Confirmed" %}
              <i class="fa-solid fa-circle-check text-success bg-dark p-1 rounded"></i>
            {% elif reservation.status == "Pending" %}
              <i class="fa-regular fa-hourglass-half text-warning bg-dark p-1 rounded"></i>
            {% else %}
              <i class="fa-solid fa-circle-info text-dark bg-light p-1 rounded"></i>
            {% endif %}
          </div>

          <!-- phone -->
          <div class="col">
            Phone: <i class="fa-solid fa-phone"></i> {{ reservation.phone_number }}
          </div>

        </div>

        <!-- buttons -->
        <div class="row my-3">
          <div class="col">
            <!-- set "today" using Django's "now" builtin tag -->
            {% now "Ymd" as today %}
            <!-- set new variable "reservation_date" using the reservation.date in Ymd format -->
            {% with reservation_date=reservation.date|date:"Ymd" %}
              <!-- if not canceled already -->
              {% if reservation.status != "Canceled" %}
                <!-- ignore bookings today or in past -->
                {% if reservation_date|add:"0" <= today|add:"0" %}
                  <span class="bg-dark py-1 px-3 text-light rounded">Unable to be modified</span>
                {% else %}
                  <!-- booking is in future (tomorrow, or later) -->
                  {% if reservation.status != "Confirmed" %}
                    <!-- booking isn't confirmed yet - can be edited -->
                    <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-success btn-sm">Edit</a>
                  {% endif %}
                  <!-- booking is already confirmed, cannot be edited, but can be canceled -->
                  <a href="{% url 'cancel_reservation' reservation.id %}" class="btn btn-danger btn-sm">Cancel</a>
                {% endif %}
              {% else %}
                <!-- reservation has already been canceled, allow permanent deletion -->
                <a href="{% url 'delete_reservation' reservation.id %}" class="btn btn-danger btn-sm">Delete</a>
              {% endif %}
            <!-- end of temporary variable "reservation_date" -->
            {% endwith %}
          </div>

        </div>
      </div>
    </div>
    {% empty %}
      <div class="row text-center">
        <div class="col">
          You do not have any reservations currently.
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}