{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Services Section -->
<section id="services" class="services">
	<div class="container text-center">
		<h2 class="section-title">About Us</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="service-ice" data-bs-toggle="modal" data-bs-target="#modalMenu">
					<img src="{% static 'images/menu.jpg' %}" alt="Ice Cream Menu" class="img-fluid service-image">
					<h3 class="service-ice-title">Ice Cream Cones</h3>
					<p class="service-description">Delicious ice cream cones with a variety of flavors to choose
						from.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-ice" data-bs-toggle="modal" data-bs-target="#modalCatering">
					<img src="{% static 'images/father_son.jpg' %}" alt="Services" class="img-fluid service-image">
					<h3 class="service-ice-title">Village Pop Up's</h3>
					<p class="service-description">We cater to villages of all sizes, bringing joy to your Villages.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-ice" data-bs-toggle="modal" data-bs-target="#modalTruck">
					<img src="{% static 'images/mississippi_mud.jpg' %}" alt="About Us" class="img-fluid service-image">
					<h3 class="service-ice-title">How to Book Us</h3>
					<p class="service-description">Easy as 1 2 3.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Village Pop Up's Modal -->
<div class="modal fade" id="modalCatering" tabindex="-1" aria-labelledby="modalCateringLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalCateringLabel">Event Catering</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- Content for Village Pop Up's -->
				<p>Mo's Village Pop Ice Cream is a heartfelt father-son 
					operation, offers three homemade flavors: Mexican Vanilla,
					Mississippi Mud, and Fresh Picked Strawberries.
					 We pride ourselves on using fresh, pure ingredients with 
					 no additives. Our milk and cream are sourced from local 
					 farmers within a 10km radius, ensuring a taste that's as 
					 wholesome as our community. Join us for a scoop of 
					 sincerity.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- How to Book Us Modal -->
<div class="modal fade" id="modalTruck" tabindex="-1" aria-labelledby="modalTruckLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTruckLabel">Book Us</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Content for Mobile Ice Cream Truck -->
                <div class="booking-process">
                    <h3>How to Book Your Ice Cream Experience</h3>
                    <ol>
                        <li>
                            <strong>Step 1: Register or Login</strong>
                            <p>To start your reservation, please ensure you're <a href="{% url 'account_login' %}" class="nav-link highlight-link" aria-current="page">
                                Logged </a>in. If you don't have an account, you'll need to <a href="{% url 'account_signup' %}" class="nav-link highlight-link" aria-current="page">
                                Register
                            </a> first.</p>
                        </li>
                        <li>
                            <strong>Step 2: Make a Reservation</strong>
                            <p>Once logged in, navigate to our 
								<a href="{% url 'reservation_page' %}" class="nav-link highlight-link" aria-current="page">
									Make Reservation
								</a> to select your date, location, and time.</p>
                        </li>
                        <li>
                            <strong>Step 3: Enjoy Our Ice Cream</strong>
                            <p>On your reservation date, join us to enjoy the 
								delicious ice cream. We can't wait to serve you!</p>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalMenu" tabindex="-1" aria-labelledby="modalMenuLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalMenuLabel">Ice Cream Menu</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						<img src="{% static 'images/mississippi_mud.jpg' %}" alt="Mississippi Mud" class="img-fluid">
						<h5 class="text-center">Mississippi Mud</h5>
						<p>Mississippi Mud Ice Cream combines rich Southern 
							flavors with creamy chocolate ice cream, swirled 
							with thick fudge and chocolate cookie pieces for 
							texture contrast. Marshmallow fluff is folded in, 
							adding a sweet, gooey element. This dessert brings 
							the spirit of Mississippi to your bowl with its 
							layers of chocolatey goodness, designed for those 
							who seek a decadent, uniquely American treat. 
							Perfect for any occasion, it promises an 
							unforgettable taste experience.</p>
					</div>
					<div class="col-md-4">
						<img src="{% static 'images/mexican_vanilla.jpg' %}" alt="Mexican Vanilla" class="img-fluid">
						<h5 class="text-center">Mexican Vanilla</h5>
						<p>Our Mexican Vanilla ice cream, a world-famous 
							bestseller, boasts a unique, wedding cake-like 
							flavor. This distinctive taste results from 
							crossbreeding traditional Madagascar vanilla beans
							 with Mexican orchids. The creamy, exotic essence 
							 captures the essence of two vanilla worlds, 
							 creating a sublime dessert experience. Its 
							 popularity attests to its unparalleled taste 
							 and quality, making it a top choice for vanilla 
							 lovers seeking a unique twist on a classic 
							 favorite.</p>
					</div>
					<div class="col-md-4">
						<img src="{% static 'images/fresh_picked_strawberries.jpg' %}" alt="Fresh Picked Strawberries"
							class="img-fluid">
						<h5 class="text-center">Fresh Picked Strawberries</h5>
						<p>
							Indulge in Fresh Picked Strawberries Ice Cream, 
							where sun-ripened strawberries meet creamy delight 
							in every scoop. This treat captures the essence of
							 summer with its vibrant sweetness and rich, creamy
							  texture, creating a perfect harmony. It’s a
							   refreshing, fruity indulgence that brings the 
							   joy of the freshest strawberries right to your
							    bowl.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
