{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Services Section -->
<section id="services" class="services">
	<div class="container text-center">
		<h2 class="section-title">Our Services</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="service-ice" data-bs-toggle="modal" data-bs-target="#modalMenu">
					<img src="assets/images/ice_truck.jpg" alt="Ice Cream Cones" class="img-fluid service-image">
					<h3 class="service-ice-title">Ice Cream Cones</h3>
					<p class="service-description">Delicious ice cream cones with a variety of flavors to choose
						from.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-ice">
					<img src="assets/images/ice_truck.jpg" alt="Event Catering" class="img-fluid service-image">
					<h3 class="service-ice-title">Event Catering</h3>
					<p class="service-description">We cater events of all sizes, bringing joy to your celebrations.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-ice">
					<img src="assets/images/ice_truck.jpg" alt="Mobile Ice Cream Truck" class="img-fluid service-image">
					<h3 class="service-ice-title">Mobile Ice Cream Truck</h3>
					<p class="service-description">Our mobile truck is ready to serve delicious treats at your
						location.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalMenu" tabindex="-1" aria-labelledby="modalMenuLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalMenuLabel">Ice Cream Menu</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						<img src="{% static 'images/mississippi_mud.jpg' %}" alt="Mississippi Mud" class="img-fluid">
						<p class="text-center">Mississippi Mud</p>
					</div>
					<div class="col-md-4">
						<img src="{% static 'images/mexican_vanilla.jpg' %}" alt="Mexican Vanilla" class="img-fluid">
						<p class="text-center">Mexican Vanilla</p>
					</div>
					<div class="col-md-4">
						<img src="{% static 'fresh_picked_strawberries.jpg' %}" alt="Fresh Picked Strawberries"
							class="img-fluid">
						<p class="text-center">Fresh Picked Strawberries</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
